.btn{ 
    &{
        @include ownbuttonstyle($buttons);

    }
}

@each $buttonstyle, $color in $buttons {
    .btn--#{$buttonstyle}{
        @extend %button-style;
        @extend %border-style;
      @include mq{
        text-transform: uppercase;
        display: inline-block;
    width: 15%;
    margin: 0% 2.2%;
                
        }
    }}

[value=Login] {text-transform: uppercase;
        width: 80%;
    @include mq {
       display: block;
        
        margin: 3% 10%;
    }
}