
.nav{ 
      text-align: center;
      @include flex-box-desktop{
      width:90%;
         
      
       };

        }

.nav__item{
  margin: mymargin(55px) auto;
  padding:5px 10px;
  border-radius: 15px;
 
  list-style-type: none;
   &:hover{
  background-color: $nav-onhover;
     }
     &:hover a{
      color: white;
    }
  }



