
*{	
	
	font-family: $myfont;
	color: $myfont-color;
	font-size:3vh;
	margin: mymargin(30px);

	@include mq {
            margin: $margin-top-bottom mymargin(20px); 
        }
}

a{
	text-decoration: none;
	font-size: 1.5em;
}


