
%button-style{
    width: 53%;
    text-align: center;  
    display: block;
    margin: 10px auto;
    color: white;
    font-weight: bold;
    border-radius: 10px; 
    font-size: 14px;
    padding: 2%;
    
}

%border-style{
    border-radius: 10px; 
    font-size: 14px;
    padding: 2%;
};

